@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Gujarati:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Noto Sans Gujarati", sans-serif;
}

body {
  margin: 0;
  font-family: "Noto Sans Gujarati", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
