* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-weight: 500;
}

@media print {
  body * {
    visibility: hidden;
  }

  #pdf-content,
  #pdf-content * {
    visibility: visible;
  }

  #pdf-content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0;
    padding-inline: 1rem;
    padding: 0;
    box-shadow: none;
  }

  @page {
    margin: 0.5in;
  }
}

body {
  padding: 20px;
  background: #f7f7f7;
}

.pdf-container {
  padding: 30px;
  background-color: #fff;
  width: 100%;
  max-width: 750px;
  margin: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h3 {
  font-size: 1.6rem;
}

table {
  width: 100%;
  border: 1.5px solid black;
  border-collapse: collapse;
}

table,
th,
td {
  border: 2px solid black;
  padding: 4px 8px;
  font-size: 1.9rem;
}

th {
  font-weight: 500;
}

button,
a {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #115e59;
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.left {
  text-align: left;
}

.bold {
  font-weight: 600;
}

.weak {
  font-size: 1.6rem;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}
.right > td[colspan="2"] {
  text-align: left;
}

.fit-width {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  min-width: fit-content;
}
.fit-width span {
  white-space: nowrap;
}

/* .middle-table,
      .middle-table th,
      .middle-table td {
        border-collapse: collapse;
        border: 0;
      }
      .middle-table {
        border-left: 2px solid black;
        border-right: 2px solid black;
      }
      .middle-table tr {
        border-bottom: 1px solid black;
      }
      .middle-table tr:last-child {
        border-bottom: 0 !important;
      } */

button:hover,
a:hover {
  background-color: #0f766e;
}

.action-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.back-button {
  background-color: #c3ccff;
  color: #333;
  border: 1px solid #ccc;
  text-decoration: none;
}
